<h1 id="compiler-internals">Compiler internals</h1>
<p>This document describes the high-level structure and design of the Suppl compiler. The Suppl compiler is takes Suppl source code and produces Prolog code suitable for being interpreted via the tuProlog interpreter.</p>
<p>The compiler follows textbook-standard phases, consisting of:</p>
<ul>
<li>lexical analysis and parsing,</li>
<li>static analysis, including type and mode checking,</li>
<li>a &quot;middle-end&quot; that manipulates intermediate representations, and</li>
<li>a back-end that produces Prolog code from the IR.</li>
</ul>
<p>The primary entry point to the compiler is <code>runCompiler</code> found in &quot;frontend/src/CmdLine.hs&quot;. That file is primarily concerned with parsing the command-line options and chasing import statements. The real work of the compiler is orchestrated by the compiler pipelines, found in &quot;frontend/src/Pipelines.hs&quot;. These pipelines describe everything that happens in the compiler after the input files have been parsed. Pipelines run in the <code>Comp</code> monad, which provides general services to all the compiler phases, like fresh name generation and handling of compile-time errors and warnings. The <code>Comp</code> monad and associated operations are defined in &quot;frontend/src/Compile.hs&quot;.</p>
<p>Note that at various stages in the compilation, useful information is stashed away in the <code>Comp</code> monad. In particular, symbol tables are stored in <code>Comp</code> as is the type variable map, following typechecking. These can be accessed directly using <code>compGetState</code>, or by using more specialized accessors, like <code>compSymbolTable</code> or <code>lookupTypeVar</code>.</p>
<h2 id="lexical-analysis-and-parsing">Lexical analysis and parsing</h2>
<p>The front-end of the compiler is itself arranged into three distinct phases:</p>
<ul>
<li>Lexical analysis,</li>
<li>Parsing, and</li>
<li>Syntactic-post processing.</li>
</ul>
<p>The main entry point to the parsing frontend is <code>runProgramParser</code>, found in &quot;Parser.y&quot;.</p>
<h3 id="lexical-syntax">Lexical syntax</h3>
<p>Lexical analysis takes an input file and breaks the incoming character stream into higher-level tokens using regular expressions. The lexer is specified using the standard Haskell tool 'alex', which is similar to 'flex'. The code for the lexer is found in &quot;frontend/src/Lexer.x&quot;. The tokens manipulated by the lexer are defined in &quot;frontend/src/Tokens.hs&quot;.</p>
<p>Input files are assumed to be UTF-8 encoded, which is byte-compatible with 7-bit ASCII. Arbitrary UTF-8 characters are accepted in string literals and comments (NOTE! this is not especially well-tested), but the main syntactic classes of the language are restricted to standard ASCII alphanumeric and punctuation symbols.</p>
<p>The lexical conventions are mostly similar to Prolog: identifiers begin with lowercase letters; variables begin with uppercase letters.</p>
<p>Numeric literals consist of standard decimal integers <code>12345</code>, floating-point numbers <code>3.1415</code>, scientific floating-point <code>1.2345e10</code> or hexadecimal integers <code>0xdeadbeef</code>. <em>However</em>, note that negative literals (as well as the unary negation operator) use the tilde symbol <code>~</code> rather than the minus symbol <code>-</code>. This simplifies the otherwise knotty problem of disambiguating unary negation from the binary minus operator.</p>
<p>String literals are enclosed in double quotes and largely follow C-style escaping conventions. Arbitrary 16-bit Unicode characters may be specified using the <code>\u01234</code> escape convention. The <code>\u</code> escape specifier must be followed by exactly 4 hexadecimal digits. No specific accommodation is made for supplemental Unicode characters that cannot be encoded in 16 bits. However, as the strings will eventually be interpreted in a Java-based interpreter, one can use the surrogate system described in the <a href="http://www.oracle.com/technetwork/articles/javase/supplementary-142654.html" title="Supplementary Characters in the Java Platform">Java documentation</a> to encode such supplemental code points.</p>
<p>The <code>%</code> symbol begins a comment line. Comments run from a <code>%</code> to the end of a line; there is no multiline comment form.</p>
<p>Any source-code line that begins with at least two <code>%</code> symbols is considered module documentation. The ability for the compiler to extract and display module documentation is planned, but not yet implemented.</p>
<h3 id="parsing">Parsing</h3>
<p>The main parsing phase is performed by a standard LALR(1) bottom-up parser, generated by happy, a Haskell parser-generator similar to 'yacc' or 'bison'. The parser definition is found in &quot;frontend/src/Parser.y&quot;. The abstract syntax produced by the parser is defined in &quot;frontend/src/AST.hs&quot;.</p>
<p>Two things about this parser are slightly unusual. First, the driver code is set up to continue parsing after parse errors; a standard Happy parser will simply halt after the first error. The parser does this by detecting a parse error and then discarding tokens up until the next period. This allows it to continue parsing on the next declaration in the file.</p>
<p>Second, the parser conflates several distinct syntactic categories (terms, query terms and clauses) into a single category of &quot;preterms&quot;. In a follow-up pass (described below) preterms are transformed into the appropriate category based on where they appear in a declaration. This scheme has two benefits: the grammar is made simpler; and we get better error messages for some kinds of syntax errors. It turned out to be quite difficult to get a grammar that parsed these syntactic categories separately without getting shift/reduce or reduce/reduce conflicts. This occurs because the distinctions between the categories are difficult to discover in a bottom-up way; terms and clauses are quite similar, syntactically. Parsing preterms and then filtering them afterwords avoids having to aggressively factor the grammar.</p>
<h3 id="postprocessing">Postprocessing</h3>
<p>After the parser has produced an abstract syntax tree, we need to postprocess it to turn all the preterms into their appropriate syntactic categories. This is done via a straightforward traversal of the syntax tree, found in the bottom half of &quot;AST.hs&quot;; the main entry point to the post processor is <code>preDeclToDecl</code>.</p>
<p>This postprocessing pass changes the type of declarations from <code>PreDecl PreTerm PreTerm PreTerm</code> to <code>PreDecl (QTerm Pn) (Term Pn) (Clause Pn)</code>, which is shortened via a type abbreviation to <code>Decl Pn</code>. In order to accommodate these type transformations, the datatype declarations for the abstract syntax are parametrized by the types for qterms terms and clauses, which makes the declarations slightly more complicated than is ideal. Many AST datatypes are defined with a &quot;Pre&quot; form that takes type parameters and are then specialized to a form that only takes a type parameter for annotations (e.g., PreDecl and Decl, PreHandler and Handler, etc).</p>
<h2 id="static-analysis">Static analysis</h2>
<p>The static analysis phase of the compiler performs three main tasks and a small collection of other smaller tasks. The main tasks are building symbol tables, typechecking and modechecking. Other tasks include making sure that all identifiers refer to something in scope, that type abbreviations do not contain cycles, etc.</p>
<h3 id="symbol-tables">Symbol Tables</h3>
<p>The identifiers in a Suppl program fall into one of two lexical categories: type identifiers and term identifiers. Type identifiers are used to name type abbreviations and datatypes and primitive types. Term identifiers are used to name predicates, procedures, events, actions and functions. The same name may be used as a type and as a term identifier without clashing. However, the same name may <em>NOT</em> be used to name e.g., a predicate and also a function.</p>
<p>The main entry point for symbol tables is the <code>buildSymbolTables</code> function in &quot;frontend/src/SymbolTable.hs&quot;, which takes a sequence of declarations and produces both a type and a term identifier symbol table.<br />To look up a symbol in one of the tables, use <code>tst_lookup</code> for type identifiers and use <code>st_lookup</code> for term symbols. The <code>SymbolInfo</code> datastructure describes term identifiers, whereas the <code>TypeSymbolInfo</code> datastructure describes type identifiers.</p>
<p>After the symbol tables are built, a number of auxiliary checks are done to make sure that every type identifier refers to some type in scope, that type abbreviations do not have cycles, that named arguments are unique within a definition, etc. These checks are performed by <code>checkDeclScopes</code>, defined in &quot;frontend/src/Scopecheck.hs&quot;.</p>
<h3 id="typechecking">Typechecking</h3>
<p>The typechecking phase analyzes all the rules, procedure definitions and handlers in the program and ensures that the declared type disciplines are observed.</p>
<p>The typechecker basically just walks down the syntax tree of every computational declaration calculating the types of subexpressions and assembling the types of subexpressions into the types of the overall expression. We infer the types of variables by their usage; mechanically, this is accomplished by the use of type unification. Much of the typechecking algorithm therefore is concerned with introducing and unifying type variables. The overall flavor of the algorithm is similar to the classic &quot;algorithm W&quot; for Hendley-Milner type inference, although the exact details differ. Like Hendley-Milner, we can handle certain kinds of parametric polymorphism: in particular the types of predicates are allowed to have free type variables which are implicitly universally bound. In contrast to pure HM systems, we require type annotations for all declared predicates and procedures. This restriction could perhaps be relaxed, but I am dubious about the value of doing so. Note that parameteric datatypes and type abbreviations are allowed. When types are being unified, we unfold type abbreviations and (essentially) subtitute their variables. Two data types unify precisely if their name is the same and if their arguments unify pairwise.</p>
<p>The state manipulated by the typechecker lives in the CompSt record of the Comp monad, and in an <code>Env</code> data type unique to the typechecker. This state is used for allocating fresh type variables and keeping track of a map from type variables to types, the <code>comp_type_map</code>. The main side-effect of unification is to cause updates to the <code>comp_type_map</code>. Each time a variable is instantiated, we perform an occurs check; this ensures that there are no cycles through the map.</p>
<p>The <code>comp_type_map</code> is a <em>global</em> map that applies to the whole program. The <code>Env</code> also contains an <code>envVars</code> map that maps strings to type variables. This is a <em>local</em> map that sends local named type variables to their global representatives. The local <code>envVars</code> map only scopes over single declarations.</p>
<p>After typechecking, each Term or QTerm in the program is annotated with its type. These types can contain type variables, which have to be resolved with the help of the <code>comp_type_map</code>. In addition to type variables, a type may contain type <em>identifiers</em>; these are distinct from type variables and must instead be looked up in the type symbol table.</p>
<p>As a side-effect of typechecking, the typechecker will rearrange named arguments into a canonical order. In particular, every predicate, procedure call, table insert, table delete and function will have their named arguments match the order of the corresponding static declaration for that symbol; any missing names will be given explicit anonymous variable arguments. HOWEVER, named arguments appearing in static declarations (mode, index, procedure, etc.) will not have their arguments rearranged, so some care is needed.</p>
<h3 id="mode-checking">Mode Checking</h3>
<p>Mode checking is a static check that ensures every predicate defined in a Suppl program can be executed without ever getting uninstantiated variables. Roughly, the idea is to make sure that we only use data after it has been instantiated by reordering the clauses of a predicate, if necessary, and by calling predicates with proper modes. Modes are statically declared; inference may be possible, but I have not investigated it.</p>
<p>The way the modechecker works is via brute-force. For each rule in the system, we try all possible orderings and all possible modes for called predicates until we find one that works. This has the potential to perform very badly. However, for small programs it seems to work fine; at some point, the limits of this scheme should be tested.</p>
<p>It is during modechecking that the compiler passes from the &quot;front&quot; end of the compiler to the &quot;middle&quot; end. The output of modechecking a rule or procedure is no longer recognizable as abstract syntax of a Suppl program, but is instead expressed in an intermediate representation defined in &quot;frontend/src/SupplIR.hs&quot;. This representation is more procedural in nature than Suppl, and reflects the fact that modechecking has &quot;straightened out&quot; all the data dependencies.</p>
<h2 id="middle-end">Middle-end</h2>
<p>The middle-end of the compiler manipulates the IR to prepare it for code-generation in the back-end. At the moment, this phase of the compiler is relatively simple, consisting of three straightforward passes:</p>
<ul>
<li>Lifting of assignments</li>
<li>Lifting of branches</li>
<li>Peephole optimization</li>
</ul>
<p>The first phase decomposes complex term expressions into simpler ones, introducing new temporary variables. This is necessary to implement the call-by-value semantics of the Suppl term language. Prolog will only perform term evaluation when explicitly required to by the <code>is</code> combinator (or by comparison operations). We therefore must decompose expressions into a series of statements that implement the desired evaluation semantics. This assignment lifting phase is thus similar to a translation to A-normal form, but not so strict.</p>
<p>The second phase, branch lifting, is necessary to implement the <code>query</code> and <code>foreach</code> constructs. tuProlog expects the goal of a <code>findall</code> to be an atomic goal; in order to achieve this later during code generation, we need to take the procedure bodies inside each branch of a <code>query</code> and inside <code>foreach</code> statements and lift them into separate callable procedures. <em>Note</em>, it is not sufficient to enforce a simple surface-syntax restriction to meet this criteria, because the previous assignment-lifting step may introduce extra clauses in positions where the surface syntax appears to be an atomic goal.</p>
<p>The branch lifting phase works by finding each location where a <code>findall</code> will be used during code generation (at <code>query</code>, at <code>foreach</code> and at surface-language <code>findall</code> constructs), and introduces a new callable predicate or procedure with a fresh name. The body of the new lifted predicate/procedure is analyzed to find the free variables, which then become the arguments. The overall process is similar to lambda-lifting for functional languages.</p>
<p>The previous two steps can introduce a lot of redundant assignments into fresh variables. The peephole optimizer is an opportunistic optimization that looks for simple examples of such redundant assignments and eliminates them. We could do a better job if we did a def/use analysis, but this simple peephole pass does well enough at removing the most egregious silliness.</p>
<h2 id="back-end">Back-end</h2>
<p>At this point, the hard work is pretty much done. We are compiling to another high-level language, so there isn't much complicated stuff to do in the code-generation phase. The code-generation phase is treated very much like the inverse of a parser. First we produce a Prolog abstract syntax tree from our intermediate representation; then we pretty-print the Prolog AST to get the final program. The Prolog AST and pretty-printer are defined in &quot;frontend/src/Prolog.hs&quot;. The IR-to-Prolog code generation phase is defined in &quot;frontend/src/EmitIR.hs&quot;</p>
