/* These settings are quite garish; but they serve my immediate purposes of
   being able to test if the documentation generator is applying the right syntactic
   classes to keywords, identifiers, types, modes, etc.
*/

p { font-family: "times"; font-size: large; background-color: rgba(0,255,255,0.3); }
/*.suppl{ background-color: rgba(128,0,128,0.05); }*/
.keyword{ font-weight:bold; }
.funcident{ color: indigo; }
.predident{ color: green; }
.typeconst{ color: purple; }
.datacon{ color: OrangeRed; }
.eventident{ color: SaddleBrown; }
.actionident{ color: darkblue; }
.tableident{ color: DarkOrchid; }
.type{ color: blue; }
.mode{ color: red; }
.typevar{ color: magenta; }
.UNKNOWN{ color: pink; background-color: black; }
.var{ color: brown; }
.qvar{ color: maroon; }
.numlit{ color: black; background-color: rgba(128,128,128,0.15); }
.strlit{ color: purple; background-color: rgba(128,128,128,0.15); font-style: italic; }
.label{ color: DarkRed; }
.suppl a { text-decoration: none; }

div.conflict-buttons {
  position:fixed; top:2%; right:2%;
  height: 90%; overflow: scroll;
}
